@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

$color-primary: rgba(242, 94, 106, 1);
$color-secondary: rgba(77, 165, 165, 1);

$color-detail-1: rgba(143, 216, 209, 1);
$color-detail-2: rgba(242, 178, 155, 1);
$color-detail-3: rgba(242, 142, 133, 1);

$color-dark: rgb(48, 48, 48);
$color-light: rgb(255, 255, 255);

$color-correct: rgb(68, 160, 68);
$color-wrong: rgb(245, 62, 108);

/* Color Theme Swatches in RGBA */
$color-1: rgba(242, 94, 106, 1);
$color-2: rgba(77, 165, 165, 1);
$color-3: rgba(143, 216, 209, 1);
$color-4: rgba(242, 178, 155, 1);
$color-5: rgba(242, 142, 133, 1);


$Font: 'Raleway', sans-serif;

$thin: 100;
$extra-light: 200;
$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;
$black: 900;

$radius: 5px;

@mixin resetPage {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

%button {
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 5px;
    font-family: $Font;
}