@import '../../sass/globals.scss';
@import '../../sass/mediaqueries.scss';

  .accordion__section {
    min-width: 48%;
    display: flex;
    flex-direction: column;
    font-family: $Font;
    margin-bottom: 20px;

    @include media(tablet){
      width: 100%;
      margin-top: 30px;
      margin-bottom: 0px;
    }
  }
  
  .accordion {
    display: flex;
    align-items: center;
    padding-left: 18px;
    border: none;
    border-radius: 5px;
    background-color: $color-primary;
    color: $color-light;
    cursor: pointer;
    outline: none;
    transition: background-color 0.6s ease;
  }
  
  .accordion:hover {
    background-color: $color-secondary;
  }

  .active {
    border-radius: 5px 5px 0 0;
    background-color: $color-secondary;
  }

  .accordion__title {
    font-weight: $regular;
    font-size: 20px;
  }
  
  .accordion__content {
    background-color: $color-secondary;
    overflow: hidden;
    transition: max-height 0.6s ease;
  }

  .accordion__text {
    padding: 18px;
    font-size: 18px;
    font-weight: $regular;
    color: $color-light;
    letter-spacing: 1px;
  }

  .action-link-container {
    display: flex;
    justify-content: center;
    padding: 30px 5px 0 5px;
    
    button, a {
      @extend%button;
      width: 35px;
      border-radius: 50%;
      margin: 0 15px;
      transition: 0.6s ease;
    }

    button:hover, a:hover {
      background-color: $color-primary;
    }
  }