@import '../../sass/globals';

.button-action {
    @extend%button;
    width: 35px;
    outline: none;
    cursor: pointer;
    background-color: transparent;

    
    img {
        width: 30px;
        height: 30px;
      }
}
