@import '../../sass/globals.scss';
@import '../../sass/mediaqueries.scss';

.board-list{
    background-color: $color-detail-1;
    
    .boards {
        width: 70%;
        min-height: 500px;

        h1 {
            padding: 30px;
            color: $color-secondary;
        }

        .board {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: flex-start;

            .board__item {
                @extend%button; 
                width: 150px;
                margin-bottom: 40px;
            }
        }

        @include media(tablet){
            h1 {
                margin-bottom: 0;
                padding-bottom: 0;
            }
            .board {
                min-height: auto;
                flex-direction: column;
                align-items: center;
            }
        }
    }

    a {
        width: 200px;
        background-color: $color-secondary;
        transition: 0.3s ease;

        &:hover {
            font-weight: $extra-bold;
            color: $color-detail-1;
        }
    }
    
}



