@import './sass/_globals';

body {
    @include resetPage;
    font-family: $Font;
}
  
main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    font-size: $Font;

    h1 {
        text-align: center;
        color: $color-secondary;
    }
}